.table-section{
    border: 2px solid #95287A;
    border-radius: 5px;
    padding: .5rem;
    background: #FCFCFC;
}
.bml-progress-td{
    align-items:center;
    justify-content:left;
    display:flex;
    border:0px;
}
.c-pointer{
    cursor: pointer;
}
.bml-chart{
    width: 75px;
    height: 37.5px;
}